body {
    background-color: beige;
    font-size: 20px;
}

main-heading{
color: gold
}

menu-block{
    background-color: darkseagreen;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}